<div class="container">
  <form (ngSubmit)="onSubmit()">
    <div class="row justify-content-center">
      <div class="col col-md-6">
        <mat-form-field class="full-width">
          <mat-select placeholder="Pick an HTTP Method" [(ngModel)]="requestMethod" name="requestMethod" required>
            <mat-option *ngFor="let method of requestMethods" [value]="method.value">
              {{ method.viewValue }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="requestMethod.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col col-md-6">
        <mat-form-field class="full-width">
          <textarea matInput rows="10" placeholder="Enter data" [(ngModel)]="requestData" name="requesData"></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col">
        <button type="submit" color="primary" mat-flat-button [disabled]="loading">Send request</button>
      </div>
    </div>
  </form>
  <div class="row my-3">
    <div class="col">
      {{ response }}
    </div>
  </div>
  <div class="row my-1">
      <div class="col">
        {{ requestTime }}
      </div>
    </div>
</div>
